
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>پرداخت</title>
</head>
<body>
    <div> 
        در حال حاضر درگاه پرداخت فعال نمی باشد
    </div>
</body>
</html>
