@model System.Collections.Generic.List<TokenShop.Models.Post>
@{
    Layout = "~/Views/shared/_layout.cshtml";
}

<main class="page blog-post-list">
    <section class="clean-block clean-blog-list dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">@TokenShop.Common.LanguageManagment.Translate("news")</h2>
            </div>
            <div class="block-content">
               @for (int i = 0; i < Model.Count; i++)
               {
                <div class="clean-blog-post">
                    <div class="row">
                        <div class="col-lg-5">
                            @if (!string.IsNullOrEmpty(Model[i].Cover))
                            {
                                <img class="rounded img-fluid" src="~/media/cover/@Model[i].Cover">
                            }
                        </div>

                        <div class="col-lg-7">
                            <h3>@Model[i].Subject</h3>
                            <div class="info"><span class="text-muted">@Model[i].CreateDatePersian توسط&nbsp;<a href="#">مدیریت سایت</a></span></div>
                            <p>
                                @Model[i].PostContent
                            </p><a class="btn btn-outline-primary btn-sm" href="/news/detail/@Model[i].Id">ادامه</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
</main>