@{
    Layout = "~/Areas/admin/Views/Shared/_layout.cshtml";
}

@using (Html.BeginForm("Create", "Questions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="multi-uploaded-area inbox-mailbox-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-content">

                                <div id="composemail" class="tab-pane fade in animated zoomInDown custom-inbox-message shadow-reset active">
                                    <div class="view-mail-wrap">
                                        <div class="mail-title">
                                            <h2>ثبت سوال و جواب جدید</h2>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-2 right">
                                                        <div class="compose-email-to">
                                                            <span>متن سوال</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10 right">
                                                        <div class="compose-multiple-email">
                                                            <input type="text" id="subject" name="subject" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-2 right">
                                                        <div class="compose-email-to compose-subject-title">
                                                            <span>وضعیت</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10 right">
                                                        <div class="compose-multiple-email compose-subject-email">

                                                            <select name="status" class="form-control">
                                                                <option value="1">پابلیش شده</option>
                                                                <option value="2">پیش نویس</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 right">
                                                <div class="compose-email-to compose-subject-title">
                                                    <span>پاسخ</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-10 right">
                                                <div class="text-editor-compose">
                                                    <div id="summernote5">
                                                        <textarea class="form-control" style="width:100%" placeholder="" name="content" rows="4"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-2 right">
                                                        <div class="compose-email-to">
                                                            <span>امتیاز</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10 right">
                                                        <div class="compose-multiple-email">
                                                            <input type="text" id="point" value="0" name="point" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="view-mail-reply-list">
                                                    <ul class="view-mail-forword">
                                                        <li class="left">
                                                            <button type="submit" class="btn btn-success"><i class="fa fa-reply"></i> ذخیره</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}