
@{
    Layout = "~/Views/shared/_layout.cshtml";
}

<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">تغییر گذرواژه</h2>
            </div>
            <p>ایمیل حاوی لینک بازنشانی کلمه عبور شما، به آدرس ایمیل شما ارسال گردید.لطفا بر روی آدرس ارسال شده در ایمیل کلیک نمایید و کلمه عبور جدید خود را در صفحه باز شده وارد نمایی</p>
        </div>
    </section>
</main>
